<div class="container w-75">
  <h1>About us:</h1>
  <h1>Pizza Flizza The Makers of Pizza Magic</h1>
  <p>
    Welcome to the slightly quirky, always cheesy world of Pizza Flizza! We're
    not your average pizza joint; we're the rebels of the dough, the dreamers of
    deliciousness, and the champions of cheese! Here's a little taste of who we
    are:
  </p>
  <h4>Our Origin Story - Birth of the Dough-livery Heroes</h4>
  <p>
    Once upon a time, in a world without enough pizza, our fearless founder,
    Tony "The Sauce Boss," had a dream. A dream of sharing 'Dough-licious'
    happiness with the world. He knew it wouldn't be easy, but he was determined
    to spread cheesy joy far and wide.
  </p>
  <h4>Our Pizza Maestros - The Dough-cial Artists</h4>
  <p>
    Our pizza maestros are not just cooks; they're 'Dough-cial' artists, tossing
    dough like 'Dough-ninjas' to create your perfect 'Dough-za.' They have a
    passion for crafting pies that are both 'Dough-luxe' in flavor and
    'Dough-leight' in presentation.
  </p>
  <h4>Our Delivery Team - Speedy Slice Sprinters</h4>
  <p>
    Our delivery team is faster than a cheese-grabbing ninja, and they take
    their 'Dough-liveries' seriously. When you hear that doorbell ring, you know
    your 'Dough-lightful' experience is just a pizza box away.
  </p>
  <h4>Our Pizza Philosophy - A Slice of Heaven</h4>
  <p>
    At Pizza Flizza, we believe in making your taste buds do the cha-cha with
    every bite. We're here to prove that 'Pizza-perfection is just a bite away!'
    and that pizza should be a source of endless joy and cheesy 'Dough-lights.'
    So, there you have it the quirky crew behind your favorite 'Dough-licious'
    pizzas. We invite you to join us on this 'Dough-lightful' adventure, one
    slice at a time. 'Dough-n't' hesitate to reach out if you have any
    questions, pizza puns, or just want to share your love for our
    'Dough-cadent' creations. 'Dough-cide' what you'd like to order, and let's
    make your day 'Dough-lightful' together!
  </p>
</div>
