.container {
  margin-top: 10%;
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
  }
  p {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 5%;
  }
}
