<div class="banner">
  <p>Pizza Flizza</p>
  <p class="subtitle">Fastest Pizza in town since never</p>
  <div>
    <button class="btn btn-success me-4" routerLink="/menu">view menu</button
    ><button class="btn btn-success">book table</button>
  </div>
</div>
<br />
<div class="container w-75">
  <h1>Welcome to Pizza Flizza</h1>
  <p>
    "Welcome to the craziest pizza party in town, where we're not just tossing
    dough; we're tossing jokes, fun, and flavor your way! Our pizzas are so
    'Dough-licious' that they'll have you saying, 'Cheese, please!' It's a pizza
    extravaganza like no other we've got a pizza-racing delivery team that's
    faster than a cheese-grabbing ninja, and if you dare to take on our 'Pizza
    Speed-Eating Challenge,' you might just find yourself in a deliciously
    cheesy predicament. Our customers can't stop raving about our pizzas, and by
    'raving,' we mean sharing hilarious pizza-related stories that would make
    you snort out your soda. But don't just take our word for it; try our 'Pizza
    of the Month,' aptly named 'The Belly Buster,' which comes with a side of
    chuckles and cravings. So what are you waiting for? Hit that 'Feed Your
    Inner Ninja Turtle' button and let the pizza hilarity begin!"
  </p>
</div>
<div class="container d-flex justify-content-center">
  <img src="../assets/images/pizza-meme.jpg" alt="" />
  <div class="d-flex flex-column mx-4 meme">
    <h4>Some might ask why, but we ask why not?</h4>
    <br />
    <ul>
      <li>Our Pizzas are 'Dough-licious!</li>
      <li>Dough-minated by Flavors!</li>
      <li>Pizza-perfection is just a bite away!</li>
      <li>Dough Me a Favor, Order Now!</li>
      <li>Feed Your Inner Ninja Turtle!</li>
      <li>Time to Get Saucy!</li>
    </ul>
  </div>
</div>
